* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.filter-cnt {
  width: max-content;
  margin: 0 auto;
}

.filter-cnt {
  margin-top: 2rem;
}

.GenderFilterBtn:nth-child(n+2) {
  margin-left: 1.5rem;
}